 

<div class="container2 float-left"><hr class="hr3"></div>
<footer class=" footerG container-fluid bg-grey py-5">


   <div class="row ml-5 mr-5">


      <div class="col-md-6">
         <div class="row">
            <div class="col-md-4 ">
               <div class="logo-part">
                  <img src="Doc/logo.jpg" class="w-50 logo-footer" >
                  <p>H4KH4 | Chartres | E&L</p>
                  <p>PRODUCER | MUSIC | SOUNDTRACK</p>
                  <a href="{{ path('admin_dash_board') }}" style="color:#7c7c7c">V 1.0</a>
               </div>
            </div>
            <div class="col-md-4 px-4 border-right">
               <h6> H4KH4</h6>
               <p>Follow the links</p>
               <a href="#" class="btn-footer"> Bio </a><br>
               <a href="#" class="btn-footer"> Service </a><br>
               <a href="" class="btn-footer"> Contact</a>
            </div>
                 <div class="col-md-4 px-4 border-right">
               <h6> MOONLIGHT PROJECT</h6>
               <p>Follow the links</p>
               <a href="https://www.moonlight-proj.com/" class="btn-footer"> More Info </a><br>
                <a href="https://www.facebook.com/Moonlight.Project.Crew/" class="btn-footer"> Facebook </a><br>
               <a href="https://www.instagram.com/the.moonlight.project/" class="btn-footer">Instagram </a>
            </div>
         </div>
      </div>


      <div class="col-md-6">
         <div class="row">
            <div class="col-md-4 px-4 border-right">
               <h6> NAVIGUATE</h6>
               <div class="row ">
                  <div class="col-md-6">
                     <ul>
                        <li> <a href="{{ path ('homepage')}}"> Home</a> </li>
                        <li> <a href="#"> About</a> </li>
                        <li> <a href="#"> Service</a> </li>
                        <li> <a href="#"> Team</a> </li>
                        <li> <a href="#"> Help</a> </li>
                           <li> <a href="#">FAQ </a> </li>
                        <li> <a href="#"> Contact</a> </li>
                     </ul>
                  </div>

               </div>
            </div>
            <div class="col-md-8 ">
               <h6> Newsletter</h6>
               <div class="social">
                  <a href="https://www.facebook.com/hakha.music.maker/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="https://www.instagram.com/h4kh4_music/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="https://www.youtube.com/channel/UCtHGIkD1ryfUL9Cmcy1Y6Jg"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                   <a href=" https://twitter.com/H4kh4_Music"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                     <a href="https://www.linkedin.com/in/fabien-coll-753bb414a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/in/fabien-coll-753bb414a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
               </div>
         <br>
              <div><p>All Music are protected | Copyright @H4kh4 | Tous droit reservés | Read the FAQ </p></div> 
            </div>
         </div>
      </div>
   </div>


</div>
</footer>
