@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Oxygen:400,700");

strong {
    color:rgb(106, 195, 233);
    font-size: 14px;
}
.strong1 {
    color:rgb(255, 255, 255);
    font-size: 14px;
    line-height: 18px;
}
.strong2 {
    color: #579c8a;
    font-size: 18px;
    line-height: 18px;
}
.titleShort{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    max-height: 40px;
    white-space: nowrap;
}
.title{
    color: #f0f0e7;
    padding-top: 12px;
    text-align: center;

}
.containerborder{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: solid white 5px;
}
.atitre{
    font-size: 25px;
    float: left
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18px;
}
.p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 12px;
}

.rounded-circle2 {
    border-radius: 50% !important;
    max-height: 35px; 
    max-width: 35px;
}
.rounded-circle3 {
    border-radius: 50% !important;
    max-height: 100px; 
    max-width: 100px;
}
.rounded-circle4 {
    border-radius: 50% !important;
    max-height: 120px; 
    max-width: 120px;
}
.rounded-circle5 {
    border-radius: 50% !important;
    max-height: 60px; 
    max-width: 60px;
}
.row-section {
    float: left;
    width: 100%;
    background: #42275a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #42275a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#000000, #42275a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.row-section h2 {
    float: left;
    width: 100%;
    color: #fff;
    margin-bottom: 30px;
    font-size: 14px;
}

.row-section h2 span {
    font-family: 'Libre Baskerville', serif;
    display: block;
    font-size: 45px;
    text-transform: none;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 700;
}

.row-section h2 a {
    color: #d2abce;
}
.bttt{
    width: 100%;
    text-align: center;
    display: inline-flex;
}
.rowsocial{
    font-size: 21px;
}
.row1{
    display: ruby-base-container;
    text-align: center;
}

.row-section .row-block {
    background: #d4d4d4;
    padding: 20px;
    margin-bottom: 50px;
    padding: 8px;
    margin-bottom: 14px;
    color:black;
    background: linear-gradient(to bottom,#f6f6f6, #4d4d4d);
}

.row-section .row-block ul {
    margin: 0;
    padding: 0;
}

.row-section .row-block ul li {
    list-style: none;
    margin-bottom: 20px;
}

.row-section .row-block ul li:last-child {
    margin-bottom: 0;
}

.row-section .row-block ul li:hover {
    cursor: grabbing;
}

.row-section .row-block .media {
border: 1px solid #d5dbdd;
padding: 5px 15px;
border-radius: 5px;
box-shadow: 0px 25px 33px rgba(32, 0, 0, 0.04);
background: #bbbbbb;
}

.row-section .media .media-left img {
    width: 75px;
}

.row-section .media .media-body p {
    padding: 0 15px;
    font-size: 14px;
}

.row-section .media .media-body h4 {
    color: #6b456a;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    padding-left: 14px;
    margin-top: 12px;
}

.btn-default {
    background: #6B456A;
    color: #fff;
    border-radius: 30px;
    border: none;
    font-size: 16px;
}
.container5{
    width: 80%;
    text-align: center;
    height: auto;
}
.containerBoucle{
  width: 33%;
  padding-right: 15px;
  padding-left: 15px;

}
.footerG{
    display: inline-block;
    margin: 0px; 
}
.image1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align :center;

}
.row10{
 
    flex-wrap: wrap-reverse;
    margin-right: -15px;
    margin-left: -15px;
    }
    .container5{
        width: 80%;
        text-align: center;
        height: auto;
    }
    
    .image1{
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align :center;
    
    }

.p2 {
    padding-left: 1px;
    margin-bottom: -2px;
    margin-top: 14px;
}

.p3 {
    margin: -4px 39px 0px 78px;
text-align: justify;
text-justify: inter-word;
Line-Height: 14pt;
}

.p4 {
    padding-left: 0;
}
.hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}
.hr2 {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 4px;
    overflow: visible;
    color: white;
    background-color: beige;
}
.hr3{
 
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 4px;
    overflow: visible;
    color: white;
    background-color: beige;
}
.hr4{
 
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0.2px;
  overflow: visible;
  color: white;
  background-color: beige;
}

.maxheight{
    max-width: 230px;
    max-height: 230px;
}
.img-responsive {
   
    /*
    pour la qualite de l'image (a verifier...)
    */
  
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
}
.rowShow{
    text-align: center;
}
.avatar {
    max-width: 200px;
    max-height: 200px;
}
.btnSearch{
    float: left;
}

/* ===============CSS FOOTER =========== */

 .bg-grey {
    background: #292929;
 }
 .logo-footer {
    margin-bottom: 40px;
 }
 footer {
        color: grey;
 }
 footer p, a {
font-size: 16px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
 .btn-footer {
             color: grey;
          
            text-decoration: none;
            border: 1px solid;
            border-radius: 43px;
            font-size: 13px;
            padding: 7px 30px;
            line-height: 47px;
 }
 .btn-footer:hover {
            
            text-decoration: none;
           
 }
.form-footer input[type="text"] {
    border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 13px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
    margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
 .social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
 footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}
/* =====================================BARRE DE PAGINATION */

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen Regular'), local('Oxygen-Regular'), url(https://fonts.gstatic.com/s/oxygen/v8/2sDfZG1Wl4LcnbuKjk0j.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    src: local('Oxygen Bold'), local('Oxygen-Bold'), url(https://fonts.gstatic.com/s/oxygen/v8/2sDcZG1Wl4LcnbuCNWgzaGW8.ttf) format('truetype');
  }
  .pageForm {
    display: block;
    margin-top: 14px;
  }
  .pageInput,
  .pageButton {
    padding: 0px 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid #bbb;
    display: inline-block;
    vertical-align: middle;
  }
  .pageInput {
    width: 28px;
    height: 28px;
    box-shadow: inset 1px 2px 1px rgba(0, 0, 0, 0.1);
  }
  .pageLabel {
    position: absolute;
    left: -9999em;
  }
  .pageButton {
    background: linear-gradient(#F46652 0%, #dd5846 100%);
    border-color: #dd5846;
    color: white;
  }
  .pageSkip {
    display: inline-block;
    background: transparent url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_left_48px-32.png') no-repeat -10px -10px;
    text-indent: -999em;
    background-size: 40px;
    opacity: 0.7;
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }
  .pageNext {
    background-image: url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_right_48px-32.png');
  }
  .pageNumber {
    position: relative;
    top: -38px;
    left: 50%;
    font-size: 12px;
    color: #333;
    width: 60px;
    display: block;
    text-align: center;
    margin-left: -17px;
    background: white;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(151, 38, 20, 0.15);
  }
  .pageNumber:after {
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: 24px;
    border: 6px solid transparent;
    border-top-color: white;
  }
  .pagePip {
    width: 1px;
    height: 3px;
    background: black;
    position: absolute;
    bottom: -10px;
    opacity: 0.4;
    box-shadow: -1px 0 0 white;
  }
  .pageMaxPip,
  .pageMinPip {
    font-size: 12px;
    color: #777;
    position: absolute;
    bottom: -30px;
    width: 20px;
  }
  .pageMaxPip {
    right: -10px;
  }
  .pageMinPip {
    left: -10px;
  }
  .pagination {
    width: 80%;
    margin: 50px auto;
    text-align: center;
  }
  .pageSlider {
    display: inline-block;
  }
  .ui-slider-horizontal {
    width: 60%;
    height: 6px;
    top: 0px;
    margin: 0px 10px 2px;
    border-radius: 6px;
    position: relative;
    display: inline-block;
    background: #F46652;
    background-image: repeating-linear-gradient(28deg, transparent, transparent 10px, #dd5846 10px, #dd5846 20px);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
  }
  .ui-slider-horizontal:before {
    content: " ";
    position: absolute;
    width: auto;
    height: 16px;
    top: -5px;
    left: -4px;
    right: -4px;
    border-radius: 10px;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.8) 90%);
  }
  .ui-slider.long .ui-slider-handle {
    height: 12px;
    width: 30px;
    background: #f1f1f1;
    display: block;
    position: absolute;
    border-radius: 50px;
    margin-top: -3px;
    margin-left: -15px;
    text-decoration: none;
    background: #f5f5f5;
    background: linear-gradient(#f5f5f5 0%, #cccccc 100%);
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.35), 0 0 2px 1px rgba(0, 0, 0, 0.15), 0 3px 3px rgba(0, 0, 0, 0.2), 0 7px 5px rgba(0, 0, 0, 0.1), 0 11px 10px rgba(0, 0, 0, 0.1);
  }
  .ui-slider.long .ui-slider-handle::before,
  .ui-slider.long .ui-slider-handle::after {
    content: " ";
    width: 2px;
    height: 40%;
    position: absolute;
    background: transparent;
    border-radius: 0px;
    box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.8), 1px 0px 0px rgba(255, 255, 255, 0.8), 2px 0 0 rgba(0, 0, 0, 0.3), 1px 0 0 rgba(0, 0, 0, 0.3) inset;
  }
  .ui-slider.long .ui-slider-handle::before {
    left: 10px;
    top: 30%;
  }
  .ui-slider.long .ui-slider-handle::after {
    right: 12px;
    top: 30%;
  }
  @media (max-width: 550px) {
    .pagination {
      width: auto;
    }
    .pageForm {
      display: block;
      margin-top: 20px;
    }
    .pageInput {
      margin: 0;
    }
    .pageSlider {
      width: 260px;
      margin: 0 15px;
    }
  }
  body {
    min-height: 400px;
    padding-top: 20px;
    font-family: oxygen;
  }
  h1,
  h3 {
    width: 80%;
    color: #555;
    margin: 0 auto;
    text-align: center;
  }
  h1 {
    font-size: 26px;
  }
  h3 {
    color: #777;
    font-size: 18px;
    font-weight: normal;
  }

  #pageSliderDescription {
    position: absolute;
    left: -999em;
    display: inline-block;
    width: 0;
    height: 0;
  }
  