<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>H4KH4 - {% block title %}Welcome!{% endblock %}</title>
	


<meta name="viewport" content="width=device-width, user-scalable=no">


{#========== FONT AWESOME ===========#}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



<link rel="stylesheet" href="{{ asset('build/css/app.css')}}">

{#========== Links ===========#}
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">


{#========== EO ===========#}

	{% block stylesheets %}{% endblock %}

</head>

<body>

	{#========== INCLUDE HEADER.html.twig ===========#}

	{% include  'partials/header.html.twig' %}
	
	{#========== EO ===========#}

	
	{% block body %}{% endblock %}
	
	
			{#========== INCLUDE FOOTER.html.twig ===========#}

			{% block footer %}
			{% include  'partials/footer.html.twig' %}
			{% endblock %}

			{#========== EO ===========#}
	
	<hr class="hr2">

	

	<script src="{{ asset ('build/js/app.js')}}"></script>

	{% block javascripts %}</script>{% endblock %}
	
</body>

</html>
