{% extends 'base.html.twig' %}

{% block title %} Track List {% endblock %}

{% block body %}
 <div class="container mt-3">

   {% include 'search/searchBase.html.twig'%}
   
        <div class="row">

                {% for ad in pagination.data  %}
                {#==== Include boucle Ad ====#}
                {% include  'ad/_ad.html.twig' %}
                {#============================#}
                {% endfor %}
        </div>
</div>

{% endblock %}
