{% extends 'base.html.twig' %}

{% block title %} Track List {% endblock %}

{% block body %}

    
    <div class="container mt-2 mb-2">
        <a href=" {{ path('tr-create')}} " class="btn btn-success ml-3 ">Ajouter</a>
        <br />
    </div>

    



    {% for ad in ads %}

    <!-- ======================  -->

    {% include  'ad/_ad.html.twig' %}

    <!-- ======================  -->
    {% endfor %}

    <div class="container2 float-left"><hr class="hr3"></div>
    
    

        
{% endblock %}

{% block footer %}
		{% include  'partials/footer.html.twig' %}
{% endblock %}
