{% extends 'base.html.twig' %}

{% block title %} Track List {% endblock %}


{% block body %}

<div class="container mt-6">


<!-- FAIRE UN IF  -->



<!-- ======================= -->

<br>

    </br></br>
    



<div class="card border-info mb-3" style="">
  <div class="card-header">
  {% if editMode %}
    <h4>Modification de la Track</h4>
{% else %}
    <h4> Poster une nouvelle Track </h4>
{% endif %}
  </div>

  <div class="card-body">



      {{ form_start(form) }}
    {{ form_widget(form )}}
    <button type="submit" class="btn btn-primary"> Valider </button>
    {{ form_end(form) }}
  </div>


</div>
{% endblock %}
