{% extends 'base.html.twig' %}

{% block title %} Track List {% endblock %}


{% block body %}

<div class="container mt-3">

<!-- FAIRE UN IF  -->

{% if editMode %}
    <h1>Modification de la Track</h1>
{% else %}
    <h1> Poster une nouvelle Track </h1>
{% endif %}

<!-- ======================= -->

<br>
    {{ form_start(form) }}

    {{ form_widget(form )}}

    <button type="submit" class="btn btn-primary"> Valider </button>


    {{ form_end(form) }}
    </br></br>
</div>
{% endblock %}
