{% extends 'base.html.twig' %}

{% block title %} Track List {% endblock %}


{% block body %}

<div class="container">

    <h1> Créer une nouvelle entrée </h1>


    {{ form_start(form) }}

    {{ form_widget(form )}}

    <button type="submit" class="btn btn-primary"> Valider </button>


    {{ form_end(form) }}
    </br></br>
</div>
{% endblock %}
